@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
    --bg-color: #0c0f12;
    --shadow-color: #94a3b8;
    --border-radius: 1rem;
    --text-color: #F7F5F5;
    --nav-shadow: 0px 15px 10px -15px var(--shadow-color);
    --btn-padding: 0.5rem;
    --box-shadow: 0px 0px 7px 0px #f4f4f5;
    --novel-color: #f43f5e;
    --animal-color: #fcd34d;
    --environment-color: #22c55e;
    --indian-food-color: #3b82f6;
    --home-footer: #1e293b;
    --background-color: linear-gradient(70deg, rgba(84, 91, 219, 1) 0%, rgb(0, 162, 255) 50%, rgb(98, 175, 230)100%);
    --transform-scale: scale(1.03);
    --wrong-option: #ef4444;

}

html {
    font-size: 62.5%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    font-weight: bold;
    min-height: 100vh;
}

.nav_link,
.each_category {
    text-decoration: none;
    color: var(--text-color);
}

.btn {
    padding: var(--btn-padding);
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    border-radius: var(--border-radius);
    background-color: var(--text-color);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    color: var(--bg-color);
    cursor: pointer;
}

.large_btn {
    width: 15rem;
}

.large_btn:hover {
    transform: var(--transform-scale);
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 45%;

    }
}

@media screen and (max-width: 600) {
    html {
        font-size: 30%;
    }
}