@import url(/home.css);
@import url(/style.css);


.category_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    padding: 8rem;
    flex-wrap: wrap;
    gap: 5rem;
}

.card .category_img {
    width: 25rem;
    height: 20rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.card:hover {
    transform: scale(1.03);
}

.category_img {
    box-shadow: none;
}

.category_play_div {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.category_heading {
    padding-top: 2rem;
}