@import url(/style.css);
@import url(/home.css);
@import url(/Authentication/login/login.css);

.login_div{
    display: flex;
    gap: 1.5rem;
}
.login_input{
    display: flex;
    flex-direction: column;
}